{% extends 'header.html' %} 

{% block title%}LogIn{% endblock title%}

{% block body %}


<div class="card shadow m-4">
    <div class="card-body">
        <h5 class="p-2 text-info" style="border-bottom: 2px solid silver"> Login To Your Account </h5>

        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Email Id </label>
                            <input type="email" name="emailid" class="form-control" placeholder="Enter your email" required>
                        </div>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Password </label>
                            <input align="center" type="password" name="pwd" class="form-control" placeholder="Enter Password" required>
                        </div>
                    </div>
                </div>
                <input type="submit" value="LogIn" class=" m-2 px-3 btn btn-secondary">
            </form>
        </div>
    </div>
</div>
{% if error == "no" %}
<script>
    alert('Logged in Successfully');
    window.location = ('{% url 'manager_home' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Invalid LogIn Credentials! Try Again....');
</script>
{% endif %}


{% endblock body %}

